@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.06);
   margin-bottom: 10px;
    position: sticky; 
    width: 100%;
    z-index: 1; 
    
  }
  
  nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    flex-grow: 1; 
  }
  
  nav ul li {
    list-style: none;
    padding: 0 30px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
  }
  .ithuvera {
    list-style: none;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s ease-in-out;
  }
  .ithuvera:hover {
    scale: 1;
  }
  nav ul li:hover{
   scale: 1.2;
   transition: .3s ease-in;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
  }
  #mobile {
    display: none;
  }
  
  #mobile i {
    font-size:20px;
    align-items: center;
  }
  .off p{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .7px;
    cursor: pointer;
  }
  .off p:hover{
    color: red;
  }
  @media screen and (max-width: 1050px){
    #mobile{
      display: block;
    }
    #mobile i{
      color: black;
      align-items:center;
    }
    nav ul li{
      display: none;
    }
  }